/* $Id: default.css 13286 2008-06-05 12:04:35Z mrkn $ */
@charset 'UTF-8';

body {
  color: #333;
  font: sans-serif;
  font-size: small;
  line-height: 1.6;
  margin: 16px;
}

a img {
  border: medium none;
}

h1, h2, h3, h4, h5, h6 {
  color: #66b;
}

#head-navigation {
  background: transparent url(../images/logo.png) no-repeat scroll left top;
  height: 70px;
  width: 328px;
}

#head-navigation a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  text-indent: -3000px;
}
