<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <!-- $Id: index.html 29774 2009-02-09 10:24:44Z k1LoW $ -->
    <title>emacs-users.jp - 日本の Emacs ユーザのためのハブサイト</title>
    <meta content="日本の Emacs ユーザのためのハブサイト" name="description" />
    <meta content="emacs,xemacs,meadow,ntemacs,carbonemacs,emacsen,emacslisp,elisp" name="keyword" />
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css?200806052102" media="screen,tv" />
    <link rel="shortcut icon" href="http://emacs-users.jp/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="http://emacs-users.jp/favicon.ico" type="image/vnd.microsoft.icon" />
  </head>
  <body>
    <div id="head-navigation"><a href="/">emacs-users.jp</a></div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
